:root {
    --mud-palette-table-hover: rgba(0,0,0,0.0392156862745098);
    --mud-palette-overlay-light: rgba(255,255,255,0.4980392156862745);
    --mud-palette-overlay-dark: rgba(33,33,33,0.4980392156862745);
    --mud-palette-gray-darker: #616161;
    --mud-palette-gray-dark: #757575;
    --mud-palette-gray-lighter: #E0E0E0;
    --mud-palette-gray-light: #BDBDBD;
    --mud-palette-gray-default: #9E9E9E;
    --mud-palette-ripple-opacity-secondary: 0.2;
    --mud-palette-ripple-opacity: 0.1;
    --mud-palette-hover-opacity: 0.06;
    --mud-palette-surface: rgba(255,255,255,1);
    --mud-palette-background: rgba(255,255,255,1);
    --mud-palette-background-gray: rgba(245,245,245,1);
    --mud-palette-error-text: rgba(255,255,255,1);
    --mud-palette-lines-inputs: rgba(189,189,189,1);
    --mud-palette-action-disabled: rgba(0,0,0,0.25882352941176473);
    --mud-palette-text-disabled: rgba(0,0,0,0.3764705882352941);
    --mud-palette-table-striped: rgba(0,0,0,0.0196078431372549);
    --mud-palette-lines-default: rgba(0,0,0,0.11764705882352941);
    --mud-palette-action-disabled-background: rgba(0,0,0,0.11764705882352941);
    --mud-palette-table-lines: rgba(224,224,224,1);
    --mud-palette-divider: rgba(224,224,224,1);
    --mud-palette-divider-light: rgba(0,0,0,0.8);
    --mud-palette-error: rgba(244,67,54,1);
    --mud-palette-tertiary: rgba(34, 34, 34, 0.5);
    --mud-palette-tertiary-lighten: rgba(34, 34, 34, 0.5);
    --mud-palette-tertiary-darken: rgba(34, 34, 34, 0.5);
    --mud-palette-action-default: rgba(0,0,0,0.5372549019607843);
    --mud-palette-dark-lighten: rgb(87,87,87);
    --mud-palette-error-lighten: rgb(246,96,85);
    --mud-palette-error-darken: rgb(242,28,13);
    --mud-palette-dark-darken: rgb(46,46,46);
    --mud-palette-white: #fff;
    --mud-palette-secondary-lighten: #eeeeeea7;
    --mud-palette-warning-darken: #5d3a01;
    --mud-palette-primary-text: #cce8f1;
    --mud-palette-text-primary: #026c8cff;
    --mud-palette-text-secondary: #5f5f5f;
    --mud-palette-tertiary-text: #f8f9fa;
    --mud-palette-dark-text: #ccc;
    --mud-palette-secondary: #eeeeeeff;
    --mud-palette-drawer-icon: #eee;
    --mud-palette-drawer-text: #4e4d4dff;
    --mud-palette-warning: #e99002;
    --mud-palette-secondary-darken: #bdbdbdff;
    --mud-palette-info-darken: #244d59;
    --mud-palette-success-darken: #1b452a;
    --mud-palette-info: #5bc0de;
    --mud-palette-success: #43ac6a;
    --mud-palette-dark: #333;
    --mud-palette-drawer-background: #fcfcfc;
    --mud-palette-warning-lighten: #fbe9cc;
    --mud-palette-warning-text: #fbe9cc;
    --mud-palette-secondary-text: #4c4c4cff;
    --mud-palette-info-text: #def2f8;
    --mud-palette-info-lighten: #def2f8;
    --mud-palette-success-text: #d9eee1;
    --mud-palette-success-lighten: #d9eee1;
    --mud-palette-primary-lighten: #02b3ecff;
    --mud-palette-primary-darken: #00384a;
    --mud-palette-primary: #008cba;
    --mud-palette-appbar-text: #008cba;
    --mud-palette-appbar-background: #cce8f1;
    --mud-palette-black: #000;
}
