:root {
    --mud-palette-table-hover: rgba(0,0,0,0.0392156862745098);
    --mud-palette-overlay-light: rgba(255,255,255,0.4980392156862745);
    --mud-palette-overlay-dark: rgba(33,33,33,0.4980392156862745);
    --mud-palette-gray-darker: #616161;
    --mud-palette-gray-dark: #757575;
    --mud-palette-gray-lighter: #E0E0E0;
    --mud-palette-gray-light: #BDBDBD;
    --mud-palette-gray-default: #9E9E9E;
    --mud-palette-ripple-opacity-secondary: 0.2;
    --mud-palette-ripple-opacity: 0.1;
    --mud-palette-hover-opacity: 0.06;
    --mud-palette-surface: rgba(55,55,64,1);
    --mud-palette-background: rgba(50,51,61,1);
    --mud-palette-background-gray: rgba(39,39,47,1);
    --mud-palette-error-text: rgba(255,255,255,1);
    --mud-palette-lines-inputs: rgba(255,255,255,0.2980392156862745);
    --mud-palette-action-disabled: rgba(255,255,255,0.25882352941176473);
    --mud-palette-text-disabled: rgba(255,255,255,0.2);
    --mud-palette-table-striped: rgba(255,255,255,0.2);
    --mud-palette-lines-default: rgba(255,255,255,0.11764705882352941);
    --mud-palette-action-disabled-background: rgba(255,255,255,0.11764705882352941);
    --mud-palette-table-lines: rgba(255,255,255,0.11764705882352941);
    --mud-palette-divider: rgba(255,255,255,0.11764705882352941);
    --mud-palette-divider-light: rgba(255,255,255,0.058823529411764705);
    --mud-palette-error: rgba(244,67,54,1);
    --mud-palette-tertiary: rgba(222, 226, 230, 0.5);
    --mud-palette-tertiary-lighten: rgba(222, 226, 230, 0.5);
    --mud-palette-tertiary-darken: rgba(222, 226, 230, 0.5);
    --mud-palette-action-default: rgba(173,173,177,1);
    --mud-palette-dark-lighten: rgb(56,56,67);
    --mud-palette-error-lighten: rgb(246,96,85);
    --mud-palette-error-darken: rgb(242,28,13);
    --mud-palette-dark-darken: rgb(23,23,28);
    --mud-palette-white: #fff;
    --mud-palette-secondary-lighten: #fcfcfcff;
    --mud-palette-warning-darken: #f2bc67;
    --mud-palette-primary-text: #eeeeeeff;
    --mud-palette-text-primary: #eeeeeeff;
    --mud-palette-text-secondary: #eeeeeeff;
    --mud-palette-tertiary-text: #eeeeeeff;
    --mud-palette-dark-text: #eeeeeeff;
    --mud-palette-secondary: #eee;
    --mud-palette-drawer-icon: #eee;
    --mud-palette-drawer-text: #eee;
    --mud-palette-warning: #e99002;
    --mud-palette-secondary-darken: #bdbcbcff;
    --mud-palette-info-darken: #9dd9eb;
    --mud-palette-success-darken: #8ecda6;
    --mud-palette-info: #5bc0de;
    --mud-palette-success: #43ac6a;
    --mud-palette-dark: #333;
    --mud-palette-drawer-background: #303030;
    --mud-palette-warning-lighten: #2f1d00;
    --mud-palette-warning-text: #2f1d00;
    --mud-palette-secondary-text: #1e1e1eff;
    --mud-palette-info-text: #12262c;
    --mud-palette-info-lighten: #12262c;
    --mud-palette-success-text: #0d2215;
    --mud-palette-success-lighten: #0d2215;
    --mud-palette-primary-lighten: #02b3edff;
    --mud-palette-primary-darken: #015c7aff;
    --mud-palette-primary: #008cba;
    --mud-palette-appbar-text: #008cba;
    --mud-palette-appbar-background: #001c25;
    --mud-palette-black: #000;
}
